{"filter":false,"title":"requirements.txt","tooltip":"/PresidentsApp/tests/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1706321198106,"hash":"d2211d59b93a069cab47474e01fbb0fb9bf3aea8"}